li:focus, li:active, li:hover, .main-ul-toolbar .active {
    outline: none;
    box-shadow: 0px 1px 2px lightgrey;
    color: #fff;
}

.header-cont{
    text-align: center;
    padding: 9px 0 3px 0;
    background: linear-gradient(to right,lightgray,#FFF);
    margin: 0;
}
.main-toolbar {
    position: fixed;
    width: 19rem;
    z-index: 99;
    height: 100%;
}
#profile {
    float: right;
    margin: 15px;
}
.main-ul-toolbar {
    list-style: none;
    padding: 0;
    z-index: 99;
    font-size: 1.4rem;
    line-height: 39px;
}
.main-ul-toolbar li {
    cursor: pointer;
    text-align: left;
    padding-left: 15px;
}
.app-container {
    
    max-width: 50rem;
    width: auto;
    margin-left: 250px;
    padding-top: 15px;
    box-shadow: 0px 0px 12px lightcyan;
    padding-bottom: 7px;
}
.mobile-menu-bar{display: none;}

@media screen and (max-width : 574px){
    span.menu-toolbar {
        border-bottom: 4px double;
        padding: 0px;
        font-weight: bolder;
        letter-spacing: 3px;
    }
    .header-cont{
        text-align: left; padding-left:10px;
        }
    div.app-container{padding:0px;
        margin-left: 0px;        
        margin-top: 49px;
    }
    
    .mobile-menu-bar{
        display: block;
        position: fixed;
        top: 0;
        z-index: 999;
        text-decoration: underline;
        color: #fff;
        width: 100%;
        font-weight: bold;
        text-align: right;
        background: #6697b8;
        line-height: 48px;
        padding-right: 15px;
        margin: 0;
        left: 0;
    }
    .main-toolbar{
        display: block;
        position: fixed;
        right: 0;
        left:0rem;
        top: 3rem;
        padding: 2rem;
        width: 100vw;
        z-index: 99;
        background: #2cb36f;
        transition: left 1s;
    }

    .main-toolbar.menuClicked {
        left: 200rem;
    }
    .main-ul-toolbar li{
        padding-right: 10px;         
        text-align: center;
    }
}
