.profile-form-group {
    padding: 0.5em 1em;
}
label.profile-lbl {
    text-align: right;
    margin-right: 0.3em;
    color: #ffff;
    padding-right: 0.5em;
    font-size: 1rem;
    min-width:108px
}
.reset-pwd-bl{
    overflow: hidden;
    transition: max-height 0.5s linear;    
    width: 100%;
}
.form-group.pull-right {
    margin-top: -15px;
}
.form-group-bl{
    padding: 0.5em 1em;
}
.form-group.accordion{
    padding: 0.5em 1em 1.7em 1em;
}
.form-group.bl-1 {
    display: flex;
    letter-spacing: 0.1rem;
}
mz-collapsible-item-header {
    color: #000;
    cursor: pointer;
}
table.c-tabel.manageAccountCl {
    margin: 0em 0 1em 0;
}