<app-promptMessage></app-promptMessage>
<div class="profile-form-group">
    <div class="profile-user-info-bl">
            <div class="profile-user-info-bl">
                <mz-collection>
                    <div [ngClass] = "!resetPwd ? 'show-reset-pwd-bl':'hide-reset-pwd-bl'" >
                        <mz-collection-item>
                            <label class="profile-lbl">Name : </label>  
                            <div class="profile-item">{{profileModel.userName}}</div>
                        </mz-collection-item>
                        <mz-collection-item>
                            <label class="profile-lbl">Email ID : </label> 
                            <div class="profile-item">{{profileModel.emailId}}</div>
                        </mz-collection-item>
                        <mz-collection-item>
                            <label class="profile-lbl">Contact No : </label>
                            <div class="profile-item">{{profileModel.mobNo}}</div>
                        </mz-collection-item>
                        <mz-collection-item>
                            <a class="waves-effect waves-light btn" (click)="resetPwd = !resetPwd">Reset Password</a>
                        </mz-collection-item>
                    </div>
                    <mz-collection-item>
                            <div [ngClass] = "resetPwd ? 'show-reset-pwd-bl':'hide-reset-pwd-bl'" class="reset-pwd-bl">
                    
                                    <div class="form-group">
                                            <mz-input-container>
                                                <input mz-input
                                                    [(ngModel)]="resetPwdModel.currentPwd"  
                                                    [label]="'Enter Current Password : '"
                                                    [validate]="true"
                                                    [dataError]="'Password is not correct'"
                                                    [dataSuccess]="'Vailed Name'"
                                                    type="password">
                                            </mz-input-container>
                                            <mz-input-container>
                                                <input mz-input
                                                    [(ngModel)]="resetPwdModel.newPwd1"  
                                                    [label]="'Enter New Password : '"
                                                    [validate]="true"
                                                    [dataError]="'Both Password is not same.'"
                                                    [dataSuccess]="'Vailed Name'"
                                                    type="password">
                                            </mz-input-container>
                                            <mz-input-container>
                                                <input mz-input
                                                    [(ngModel)]="resetPwdModel.newPwd2"  
                                                    [label]="'Re-enter new Password : '"
                                                    [validate]="true"
                                                    [dataError]="'Both Password is not same.'"
                                                    [dataSuccess]="'Vailed Name'"
                                                    type="password">
                                            </mz-input-container>
                                                     
                                        </div>
                
                                        <div class = "form-group pull-right">
                                            <button class="btn btn-primary" (click)="resetPwd = !resetPwd">Cancel</button>
                                            <button  class="btn btn-primary"  (click)="passwordReset()">Save</button>
                                        </div>
                            </div>
                    </mz-collection-item>

                </mz-collection>               
            </div>   
          
    </div>



    <!-- <div class="user-accounts-info-bl">
        <div ng-app="myApp" ng-controller="MyController">
            
               <fusioncharts
               bgColor="red"
               type="pie3d"
               width="100%"
               height="100%"
               [dataFormat]="dataFormat"
               [dataSource]="myDataSource"></fusioncharts>
            
         </div>        
    </div> -->


</div>
   