<app-promptMessage></app-promptMessage>
<div  *ngIf="!isMessage" class="well add-container" >
  
<div class="form-group">        
      <label for="category"  class="c-label"   >Account Type: </label>        
      <select name="add_typeDropDown" id="category" class="form-control  c-select disabled" value="p_expence" (change)="expence.accType = $event.srcElement.value" disabled>
          <option value="personalexp" selected>Personal Expance</option>
          
      </select>
  </div>

  <div class="form-group">
      <label for="add_expenceType" class="c-label" ><sup>*</sup>Select Account Name:</label>
      <select name="add_typeDropDown" id="add_expenceType" class="form-control  c-select" (change)="expence.account = $event.srcElement.value">
          <option value="0" selected>Select account</option>          
          <option  *ngFor= "let i of arrAccountName;index as t" [value]="i"> {{i}}  </option>            
      </select>  
    </div>

  <div class="form-group">
    <label for="acc_name" class="c-label"><sup>*</sup>Amount:</label>
    <input type="number" id="acc_name" class="form-control" [(ngModel)]="expence.amount"/> 
     
  </div>
  <div class="form-group">
    <label for="acc_name" class="c-label"><sup>*</sup>Select your exoence date:</label>
    <input mz-datepicker
        [(ngModel)]="expence.date"
        id="add_datepicker"
        type="text">

  </div>


  <div class="form-group">
    <!-- <label for="desc"><sup>*</sup>Description:</label>
    <textarea class="from-control" id="desc"  [(ngModel)]="expence.desc"></textarea>
    <div class="alert alert-info hidden">
      <strong>Description: </strong> Provide Description for the expences.
    </div> -->
    <label for="desc"  class="c-label"><sup>*</sup>Enter your Expence Detatils:</label>
      <textarea 
        [(ngModel)]="expence.desc"
        id="add_desc_textarea"
        class="c-textarea"
        length="250">
      </textarea>
  </div>
  <button type="submit" class="btn btn-primary btn-lg" (click)="submitExpence()">Submit</button>
</div>




<div *ngIf="isMessage" class="alert alert-success well add-container clearfix" >
    <div class="">
        <strong>Success!</strong>
    </div> 
    <div class="well color-animaion"> Expence is added succesfully. Do you want to add another expences for accounts?</div>
    
    <div class = "form-group pull-right">
        <button class="btn btn-primary" (click)="routeToHomePage()">No</button>
      <button  class="btn btn-primary"  (click)="fromReset()">Yes</button>
    </div>

</div>