<app-promptMessage></app-promptMessage>
<div  *ngIf="!isMessage" class="well add-container" >
  
<div class="form-group">        
      <label for="category"><sup>*</sup>Account Type: </label>        
      <select name="add_typeDropDown" id="category" class="form-control" value="p_expence" (change)="expence.accType = $event.srcElement.value" disabled>
          <option value="personalexp" selected>Personal Expance</option>
          
      </select>
  </div>
  <div class="form-group">
      <label for="add_expenceType"><sup>*</sup>Account:</label>
      <select name="add_typeDropDown" id="add_expenceType" class="form-control" (change)="expence.account = $event.srcElement.value">
          <option value="0">Select account</option>
          
          <option  *ngFor= "let i of arrAccountName;index as t" [value]="i"> {{i}}  </option>            
      </select> 
      <div class="alert alert-info hidden">
        <strong>Account: </strong> Select the Account for which you want to add Data.
      </div>   
    </div>

  <div class="form-group">
    <label for="amount"><sup>*</sup>Amount</label>
    <input type="numner" id="amount" class="form-control"  [(ngModel)]="expence.amount"/> 
    <div class="alert alert-info hidden">
      <strong>Amount: </strong> Provide the total amount you want to add.
    </div>   
  </div>

  <div class="form-group">
    <label for="sDate"><sup>*</sup>Expence Date:</label>
    <input type="date" id="sDate" class="form-control"  [(ngModel)]="expence.date"/>    
  </div>
  <div class="form-group">
    <label for="desc"><sup>*</sup>Description:</label>
    <textarea class="from-control" id="desc"  [(ngModel)]="expence.desc"></textarea>
    <div class="alert alert-info hidden">
      <strong>Description: </strong> Provide Description for the expences.
    </div>
    
  </div>
  <button type="submit" class="btn btn-primary" (click)="submitExpence()">Submit</button>
</div>




<div *ngIf="isMessage" class="alert alert-success well add-container clearfix" >
    <div class="">
        <strong>Success!</strong>
    </div> 
    <div class="well color-animaion"> Expence is added succesfully. Do you want to add another expences for accounts?</div>
    
    <div class = "form-group pull-right">
        <button class="btn btn-primary" (click)="routeToHomePage()">No</button>
      <button  class="btn btn-primary"  (click)="fromReset()">Yes</button>
    </div>

</div>