
   
   @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader {
    border-top: 7px solid blue;
    border-bottom: 7px solid red;
    border-radius: 55%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.busy-indicator{
    z-index: 9999;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(125,125,125,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}