
<div class="asset-container">
    <div class="form-group">        
        <label for="asset_DateDropDown">As of: </label>        
        <select name="assetDateDropDown" id="asset_DateDropDown" class="form-control" (change)="assetDropDown($event)">
            <option value="cm">Current Month</option>
            <option value="sd">Specify Date</option>
        </select>
    </div>
    <div *ngIf="isSelectedSd == 'sd'">
        <div class="form-group asset_groupdate">
            <span class="col-sm-6 date-cont-el">
                <label for="asset_StartDate">Start Date:</label>
                <input type="date" class="form-control dateEl" id="asset_StartDate">
            </span>
            <span class="col-sm-6 date-cont-el">
                <label for="asset_EndDate">End Date:</label>
                <input type="date" class="form-control dateEl" id="asset_EndDate">
            </span>
        </div>
        <div class="form-group">
            <button class="btn btn-primary asset-view-data" (click)="assetViewData()">View Data</button> 
        </div>
    </div>
    <div class="form-group asset-grid-data-container">
       <table id="template-grid" class="template-grid-cl table table-striped table-condensed table-bordered">
           <thead>
            <tr>
                <th *ngFor="let thcol of toRenderData.th" class="text-center">
                        {{thcol}}
                </th>
            </tr>
           </thead>
           <tbody>
               <tr *ngFor="let tbcol of toRenderData.tb">
                   <td>{{tbcol[toRenderData.colRef.col1]}}</td>
                   <td>{{tbcol[toRenderData.colRef.col2]}}</td>
                   <td>{{tbcol[toRenderData.colRef.col3]}}</td>
                   <td>{{tbcol[toRenderData.colRef.col4]}}</td>
               </tr>               
           </tbody>
       </table>
    </div>
</div>