<div  *ngIf="dataModel.isLoader"  class="busy-indicator" >    
    <div class="loader"></div>   
  </div>
  


  <div  *ngIf="dataModel.isMsgToast"  class="message-toast">
      <div class="alert alert-success">
          <strong>Success!</strong> Indicates a successful or positive action.
        </div>    
    </div>

 

    <mz-modal #PromptModal [fixedFooter]="true" [bottomSheet]="true" [options]="modalOptions">
        <mz-modal-header>
          <h4>{{model.title}}</h4>
        </mz-modal-header>
        <mz-modal-content>
         {{model.desc}}
        </mz-modal-content>
        <mz-modal-footer>
          <button mz-button [flat]="true" mz-modal-close>{{model.noBtn}}</button>
          <button mz-button [flat]="true" mz-modal-close>{{model.yesBtn}}</button>
        </mz-modal-footer>
      </mz-modal>