<app-promptMessage></app-promptMessage>
<div class="home-container">

    <div class="view-container" id="view-container">
            <div class="form-group"> 

                    <label for="viewType">Display:</label>
                    <select name="viewType" id="viewType" class="form-control col-lg-3 col-md-4 col-sm-6 col-xs-12" 
                      (change)="homeModel.displayType = $event.srcElement.value" >
                        <option value="0">Grid</option>
                        <option value="1">Graph</option>
                        <option value="2" selected>Table and Graph</option>
                    </select>
              </div>

        <div class="gridContainer" *ngIf = "homeModel.displayType != 1 ">
            <table id="table-{{i}}" class="template-grid-cl table table-striped table-condensed table-bordered col-sm-12">
                <thead><tr>
                    <th *ngFor="let thcol of data.th" class="text-center">
                            {{data.colTitle[thcol]}}
                    </th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tbcol of data.grdiData" (click)="gridRowClicked(tbcol)">
                    <td *ngFor="let thcol of data.th" class="text-center">
                            {{tbcol[thcol]}}
                    </td>
                    </tr>               
                </tbody>
            </table> 
        </div>
        <div class="fusionCharContainer" *ngIf = "homeModel.displayType != 0 ">
        <fusioncharts
                    bgColor="red"
                    (initialized) = "clickChart($event)"
                    [type]="type"
                    [width]="width"
                    [dataFormat]="dataFormat"
                    [dataSource]="chartDataModel.chartData"
        ></fusioncharts>
      </div>
    <!-- </div> -->
  </div>
</div>


