.header-banner{
    display: flex;
    justify-content: space-between;
}
.header-banner .pull-right {
    line-height: 3em;
    padding: 0 1em;
    box-sizing: border-box;
    margin-top: 0.3em;
    cursor: pointer;
}
li:focus, li:active, li:hover, .main-ul-toolbar .active {
    box-shadow: 2px 4px 4px #fff;
    color: #fff;
    border: 1px solid #fff;
    border-width: 1px 1px 1px 1px;
}

.header-cont{
    text-align: center;
    padding: 9px 0 3px 0;
    background: linear-gradient(to right,lightgray,#FFF);
    margin: 0;
}
.main-toolbar {
    position: fixed;
    width: 19rem;
    z-index: 99;
    height: 100%;
    top: 6rem;
    left: 1rem;
}
#profile {
    float: right;
    margin: 15px;
}
.main-ul-toolbar {
    list-style: none;
    padding: 0;
    z-index: 99;
    font-size: 1.4rem;
    line-height: 39px;
}
.main-ul-toolbar li {
    cursor: pointer;
    text-align: left;
    padding-left: 15px;
    padding-right: 8px;
    line-height: 2.5em;
}
.app-container {
    
    max-width: 50rem;
    width: auto;
    margin-left: 22rem;
    padding-top: 15px;
    box-shadow: 0px 0px 12px lightcyan;
    padding-bottom: 1.3rem;
    top: 2rem;
}
.desktop.page-header {
    height: 4.5rem;
    padding: 0 1rem;
    background: #87c7ff;
    line-height: 4.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: crimson;
}
.mobile-menu-bar, .logout-mobile-visibility{display: none;}

@media screen and (max-width : 574px){

    .logout-mobile-visibility{display: block;}
    .desktop.page-header{display: none;}
    span.menu-toolbar {
        border-bottom: 9px double lightgray;
        padding: 0px;
        font-weight: bolder;
        color: #fff;
        line-height: 2em;
        outline: 3px solid lightgray;
        outline-offset: 4px;
        position: relative;
        top: 10px;
        right: -6px;
    }
    .header-cont{
        text-align: left; padding-left:10px;
        }
    div.app-container{padding:0px;
        margin-left: 0px;         
        margin-top: 3rem;
    }
    
    .mobile-menu-bar{
        
        letter-spacing: 2px;
        display: block;
        position: fixed;
        top: 0;
        z-index: 999;
        text-decoration: underline;
        color: #fff;
        width: 100%;
        font-weight: bold;
        text-align: right;
        background: #6697b8;
        line-height: 4.5rem;
        padding-right: 15px;
        margin: 0;
        left: 0;
        padding-left: 1em ;
        font-size: 1em;
        color:crimson;
    }
    .main-toolbar{
        display: block;
        position: fixed;
        right: 0;
        left:0rem;
        top: 3rem;
        padding: 2rem;
        width: 100vw;
        z-index: 99;
        background: #fb1844;
        transition: left 1s;
    }

    .main-toolbar.menuClicked {
        left: 200rem;
    }
    .main-ul-toolbar li{
        padding-right: 10px;
        text-align: center;
        font-size: 1.1em;
        letter-spacing: 0.1em;
    }
}
