

<div *ngIf="userData.isLogedin; then homeBlock else loginBlock "></div>
<div class="desktop page-header">
  <header class="header-banner">
          <span>
              <strong class="size-plus color-animaion">Munshi G  </strong>
              <span class="header-msg  color-animaion size-plus">{{headerTitle}}</span>
          </span>    
          <ul id="logout-el" *ngIf="userData.isLogedin">
          <li  class="pull-right" (click)="logout()">
              <span class="color-animaion size-plus">
                  Logout <fa name="sign-out"></fa>
                </span>        
              </li>
            </ul>      
  </header> 

</div>
<ng-template #homeBlock>
<div class="mobile-menu-bar" (click)="toogleMenu($event)">
    <span class="header-msg pull-left color-animaion size-plus">{{headerTitle}}</span>
   <span class="menu-toolbar pull-right color-animaion size-plus">MENU</span>
</div>
<div  class="row main-toolbar">  
  <ul [ngClass]="isVisble ? '' : 'menuClicked'"    class="col-lg-3 col-sm-4 main-ul-toolbar" >

    <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      Home
      <span class="pull-right">
        <fa name="home"></fa>
      </span>
    </li>
    <li routerLink="profile" routerLinkActive="active">Profile
      <span class="pull-right">
        <fa name="cog" animation="spin"></fa>
      </span>
      
    </li>
    <li routerLink="add" routerLinkActive="active">
      Add Expances
      <span class="pull-right">
          <fa name="pencil-square-o"></fa>
        </span>
    </li>
    <li routerLink="/c_account" routerLinkActive="active">
      Create Account
      <span class="pull-right">
          <fa name="file-text"></fa>
        </span>
    </li>
    <li class="logout-mobile-visibility" (click)="logout()">
    Logout
    <span class="pull-right">
        <fa name="sign-out"></fa>
      </span>
  </li>
  </ul>



<div class="col-lg-9 col-sm-8 app-container container well">
    <router-outlet > </router-outlet>
</div>
</div>  
</ng-template>


<ng-template #loginBlock class="app-container container well">
  <app-login></app-login>
  
</ng-template>




