<app-promptMessage></app-promptMessage>
<div *ngIf="!model.isMessage" class="well add-container" >
    
    <div class="form-group">
      <label for="add_typeDropDown"  class="c-label"   ><sup>*</sup>Account Type:</label>
      <select name="add_typeDropDown" id="add_typeDropDown" class="form-control c-select disabled" disabled>
        <option value="personalexp" selected>Personal Expance</option>
        <!-- <option value="tourexp" disabled>Tour Expance</option>
        <option value="groupexp" disabled>Group Expance</option>  -->
      </select>

      <!-- <mz-select-container>
        <select mz-select
          id="options-select"
          disabled="true"
          [label]="'Account Type:'"
        >
          <optgroup label="GRP-1">
            <option data-icon="assets/select-icon-1.jpg" class="left circle" value="personalexp" >Personal Expences</option>
          </optgroup>
          
        </select>
      </mz-select-container> -->




    </div>
    <div class="form-group">
      <label for="acc_name" class="c-label"><sup>*</sup>Account Name:</label>
      <input type="text" id="acc_name" class="form-control" [(ngModel)]="acc.name"/> 
      <!-- <mz-input-container>
          <input mz-input
                [(ngModel)]="acc.name"  
                [label]="'Account Name:'"
                [validate]="true"
                [dataError]="'Name is invalid'"
                [dataSuccess]="'Vailed Name'"
                id="cr_accountName"
                length="75"
                type="text">
        </mz-input-container> -->
       
    </div>
    <!-- <div class="form-group">
      <label for="avl_bal"><sup>*</sup>Total Expences(As of now):</label>
      <input type="number" id="avl_bal" class="form-control" [(ngModel)]="acc.bal"/>    
    </div> -->
    <div class="form-group">
      <!-- <label for="acc_open_date"><sup>*</sup>Account open Date:</label>
      <div class="alert alert-info hidden">
         Select Account start date.
      </div> 
      <input type="date" id="acc_open_date" class="form-control" [(ngModel)]="acc.date"/>    -->
      <label for="datepicker" class="c-label"><sup>*</sup>Select Account start date.:</label>
      <input mz-datepicker
        [(ngModel)]="acc.date"
        id="datepicker"
        type="text">
       
    </div>

    <!-- <mz-datepicker-container class="col s12">
      <input mz-datepicker
        [label]="'Date of birth'"
        [options]="options"
        [(ngModel)]="dateOfBirth"
        id="datepicker"
        placeholder="Select your birth date"
        type="text">
    </mz-datepicker-container> -->

    
    <div class="form-group">
      <!-- <label for="acc_desc"><sup>*</sup>Description:</label>  <div class="alert alert-info hidden">
        Provide Description for the Account
      </div> 
      <textarea  id="acc_desc" class="form-control" [(ngModel)]="acc.desc" ></textarea>  -->

        <!-- <i mz-icon-mdi mz-textarea-prefix
          [icon]="'message-reply-text'">
        </i> -->
        <label for="acc_desc" class="c-label"><sup>*</sup>Description: Why are you cretaing this account ?:</label>  
        <textarea        
        
          class="c-textarea"
          [(ngModel)]="acc.desc"
          id="desc_textarea"
          length="250"></textarea>


    </div>
    
    <button type="submit" class="btn btn-primary btn-lg" (click)="createAccount()">Create Account</button>

  </div>

  <div *ngIf="model.isMessage" class="alert alert-success well add-container clearfix" >
      <div class="">
          <strong>Success!</strong>
      </div> 
      <div class="well"> {{acc.name}} Account is created succesfully. Do you want to create another account?</div>
      
      <div class = "form-group pull-right">
          <button class="btn btn-primary" (click)="routeToHomePage()">No</button>
        <button  class="btn btn-primary"  (click)="fromReset()">Yes</button>
      </div>

  </div>