<app-promptMessage></app-promptMessage>
<div *ngIf="!model.isMessage" class="well add-container" >
    
    <div class="form-group">
      <label for="add_typeDropDown"><sup>*</sup>Account Type:</label>
      <select name="add_typeDropDown" id="add_typeDropDown" class="form-control" disabled>
        <option value="personalexp" selected>Personal Expance</option>
        <!-- <option value="tourexp" disabled>Tour Expance</option>
        <option value="groupexp" disabled>Group Expance</option> -->
      </select>
    </div>
    <div class="form-group">
      <label for="acc_name"><sup>*</sup>Account Name:</label>
      <div class="alert alert-info hidden">
        Account Name Uniqe and meaningful.
      </div>  
      <input type="text" id="acc_name" class="form-control" [(ngModel)]="acc.name"/> 
       
    </div>
    <!-- <div class="form-group">
      <label for="avl_bal"><sup>*</sup>Total Expences(As of now):</label>
      <input type="number" id="avl_bal" class="form-control" [(ngModel)]="acc.bal"/>    
    </div> -->
    <div class="form-group">
      <label for="acc_open_date"><sup>*</sup>Account open Date:</label>
      <div class="alert alert-info hidden">
         Select Account start date.
      </div> 
      <input type="date" id="acc_open_date" class="form-control" [(ngModel)]="acc.date"/>   
       
    </div>

    
    <div class="form-group">
      <label for="acc_desc"><sup>*</sup>Description:</label>  <div class="alert alert-info hidden">
        Provide Description for the Account
      </div> 
      <textarea  id="acc_desc" class="form-control" [(ngModel)]="acc.desc" ></textarea> 
      
    </div>
    
    <button type="submit" class="btn btn-primary" (click)="createAccount()">Create Account</button>

  </div>

  <div *ngIf="model.isMessage" class="alert alert-success well add-container clearfix" >
      <div class="">
          <strong>Success!</strong>
      </div> 
      <div class="well"> {{acc.name}} Account is created succesfully. Do you want to create another account?</div>
      
      <div class = "form-group pull-right">
          <button class="btn btn-primary" (click)="routeToHomePage()">No</button>
        <button  class="btn btn-primary"  (click)="fromReset()">Yes</button>
      </div>

  </div>